<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="DTcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="DTcms.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="DTcms.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="DTcms.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="DTcms.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="DTcms.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="DTcms.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="DTcms.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="DTcms.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="DTcms.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="DTcms.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="DTcms.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="DTcms.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="DTcms.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="DTcms.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="DTcms.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="culture_list" type="list" page="culture_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="culture_list.html" channel="culture" pagesize="10">
    <item path="culture/{0}.aspx" pattern="culture/(\d+).aspx" querystring="category_id=$1" />
    <item path="culture/{0}/{1}.aspx" pattern="culture/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="culture_show" type="detail" page="culture_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="culture_show.html" channel="culture">
    <item path="culture/{0}/show-{1}.aspx" pattern="culture/(\d+)/show-(\d+).aspx" querystring="category_id=$1^id=$2" />
  </rewrite>
  <rewrite name="achieve_list" type="list" page="achieve_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="achieve_list.html" channel="achieve" pagesize="10">
    <item path="achieve/{0}.aspx" pattern="achieve/(\d+).aspx" querystring="category_id=$1" />
    <item path="achieve/{0}/{1}.aspx" pattern="achieve/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="achieve_show" type="detail" page="achieve_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="achieve_show.html" channel="achieve">
    <item path="achieve/{0}/show-{1}.aspx" pattern="achieve/(\d+)/show-(\d+).aspx" querystring="category_id=$1^id=$2" />
  </rewrite>
  <rewrite name="mes_list" type="list" page="mes_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="mes_list.html" channel="mes" pagesize="10">
    <item path="mes/{0}.aspx" pattern="mes/(\d+).aspx" querystring="category_id=$1" />
    <item path="mes/{0}/{1}.aspx" pattern="mes/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="mes_show" type="detail" page="mes_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="mes_show.html" channel="mes">
    <item path="mes/{0}/show-{1}.aspx" pattern="mes/(\d+)/show-(\d+).aspx" querystring="category_id=$1^id=$2" />
  </rewrite>
  <rewrite name="newscenter_list" type="list" page="newscenter_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="newscenter_list.html" channel="newscenter" pagesize="10">
    <item path="newscenter/{0}.aspx" pattern="newscenter/(\d+).aspx" querystring="category_id=$1" />
    <item path="newscenter/{0}/{1}.aspx" pattern="newscenter/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="newscenter_show" type="detail" page="newscenter_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="newscenter_show.html" channel="newscenter">
    <item path="newscenter/{0}/show-{1}.aspx" pattern="newscenter/(\d+)/show-(\d+).aspx" querystring="category_id=$1^id=$2" />
  </rewrite>
  <rewrite name="about_list" type="list" page="about_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="about_list.html" channel="about" pagesize="10">
    <item path="about/{0}.aspx" pattern="about/(\d+).aspx" querystring="category_id=$1" />
    <item path="about/{0}/{1}.aspx" pattern="about/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="about_show" type="detail" page="about_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="about_show.html" channel="about">
    <item path="about/{0}/show-{1}.aspx" pattern="about/(\d+)/show-(\d+).aspx" querystring="category_id=$1^id=$2" />
  </rewrite>
  <rewrite name="server_list" type="list" page="server_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="server_list.html" channel="server" pagesize="10">
    <item path="server/{0}.aspx" pattern="server/(\d+).aspx" querystring="category_id=$1" />
    <item path="server/{0}/{1}.aspx" pattern="server/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="server_show" type="detail" page="server_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="server_show.html" channel="server">
    <item path="server/{0}/show-{1}.aspx" pattern="server/(\d+)/show-(\d+).aspx" querystring="category_id=$1^id=$2" />
  </rewrite>
</urls>