<div class="index-bg">
    <div class="w1200 clearfix">
        <div class="top">
            <div class="you">
                <div id="txt"></div>
                <!--<div class="search">
                    <input id="keywords" name="keywords" class="input sousuo" type="text" onkeydown="if(event.keyCode==13){SiteSearch('<%linkurl("search")%>', '#keywords');return false};" placeholder="输入回车搜索" x-webkit-speech="" />
                    <input class="submit" type="submit" onclick="SiteSearch('<%linkurl("search")%>', '#keywords');" value="搜索" style="border:none; background:none;"/>
                </div>-->
            </div>
        </div>
        <div class="logo">
            <a href="/">
                <img src="<%templateskin%>/images/logo.png" alt="">
            </a>
        </div>
        <div class="head_r">
            <ul>
                <li class="active"><a href="<%linkurl("index")%>" title="首 页">首 页</a></li>
                <li><a href="<%linkurl("about_list",65)%>" title="公司概况">公司概况</a></li>
                <li><a href="<%linkurl("newscenter_list",52)%>" title="新闻中心">新闻中心</a></li>
                <li><a href="<%linkurl("mes_list",53)%>" title="招标信息">招标信息</a></li>
                <li><a href="<%linkurl("achieve_list",60)%>" title="经典业绩">经典业绩</a></li>
                <li><a href="<%linkurl("culture_list",57)%>" title="企业文化">企业文化</a></li>
                <li><a href="<%linkurl("server_list",61)%>" title="客户服务">客户服务</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function(){
        startTime();
        var href = window.location.href,host = window.location.host;
        $('.head_r ul li').each(function () {
            itemhref = $(this).children('a').attr('href');
            itemhref = itemhref.slice(host);
            itemhref = itemhref.slice(0,itemhref.lastIndexOf('/'))
           
            if (href.indexOf(itemhref) > 1) {
                $(this).addClass('active').siblings().removeClass('active');
            }
        })
    })
    //获取当前系统日期
    function startTime()
    {
        var today=new Date();
        var y=today.getFullYear();   //获取完整的年份(4位,1970-????)
        var mo=today.getMonth();      //获取当前月份(0-11,0代表1月)
        var d=today.getDate();       //获取当前日(1-31)
        var h=today.getHours();
        var m=today.getMinutes();
        var s=today.getSeconds();
        var t=today.getDay();
        //调用checkTime（）函数，小于十的数字前加0
        y=checkTime(y);
        mo=checkTime(mo+1);
        d=checkTime(d);
        m=checkTime(m);
        s=checkTime(s);
        t=checkTime(t);

        //s设置层txt的内容
        document.getElementById('txt').innerHTML=y+"年"+mo+"月"+d+"日"+"&nbsp;&nbsp;&nbsp;"+h+":"+m+"&nbsp;&nbsp;&nbsp;";
        //过500毫秒再调用一次
        t=setTimeout('startTime()',500);
        //小于10，加0
        function checkTime(i)
        {
            if(i<10)
            {i="0"+i}
            return i
        }
    }
</script>

