<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{site.seo_title}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link href="<%templateskin%>/css/layout.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery.SuperSlide.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
</head>

<body>
<!--Header-->
<%template src="_header.html"%>
<!--/Header-->
<div class="aa">
    <div class="main_serviceBox">
        <div class="float">
            <div class="banner-bg">
                <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1199" height="346">
                    <param name="movie" value="<%templateskin%>/images/hcjq.swf" />
                    <param name="quality" value="high" />
                    <param name="wmode" value="opaque" />
                    <param name="swfversion" value="11.0.0.0" />
                    <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
                    <param name="expressinstall" value="swf/hcjq.swf" />
                    <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
                    <!--[if !IE]>-->
                    <object type="application/x-shockwave-flash" data="<%templateskin%>/images/hcjq.swf" width="1199" height="346">
                        <!--<![endif]-->
                        <param name="quality" value="high" />
                        <param name="wmode" value="opaque" />
                        <param name="swfversion" value="11.0.0.0" />
                        <param name="expressinstall" value="<%templateskin%>/images/hcjq.swf" />
                        <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
                        <div>
                            <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
                            <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="1199" height="346" /></a></p>
                        </div>
                        <!--[if !IE]>-->
                    </object>
                    <!--<![endif]-->
                </object>
            </div>
        </div>
    </div>
</div>
    <div class="wrap1">
        <div class="w1200">
            <div class="left">
                <div class="title"><a>新闻中心</a></div>
                <!-- 轮播-->
                <div class="focusBox">
                    <ul class="pic" >
                        <%set DataTable nlist=get_article_list("newscenter", 8, "status=0")%>
                        <!--使用foreach循环输出-->
                        <%foreach(DataRow dr in nlist.Rows)%>
                        <li>
                            <a href="<%linkurl("newscenter_show",{dr[category_id]},{dr[id]})%>" target="_blank" title="{dr[title]}">
                            <%if({dr[img_url]}!="")%>
                                <img src="{dr[img_url]}"  />
                            <%else%>
                                <img src="<%templateskin%>/images/logo.png" title="" />
                            <%/if%>
                            </a>
                        </li>
                        <%/foreach%>
                    </ul>
                    <div class="txt-bg"></div>
                    <div class="txt">
                        <ul>
                            <%set DataTable nlist1=get_article_list("newscenter", 8, "status=0")%>
                            <!--使用foreach循环输出-->
                            <%foreach(DataRow dr in nlist1.Rows)%>
                            <li>
                                <a href="<%linkurl("newscenter_show",{dr[category_id]},{dr[id]})%>" target="_blank" title="{dr[title]}">
                                    {dr[title]}
                                </a>
                            </li>
                            <%/foreach%>
                           
                        </ul>
                    </div>
                    <ul class="num">
                            <%set DataTable nlist2=get_article_list("newscenter", 8, "status=0")%>
                            <!--使用foreach循环输出-->
                            <%loop dr nlist2%>
                            <li>
                                <span><%= dr__loop__id%></span>
                            </li>
                            <%/loop%>
                    </ul>
                </div>
                <script type="text/javascript">
                jQuery(".focusBox").slide({ titCell:".num li", mainCell:".pic",effect:"fold", autoPlay:true,trigger:"click",startFun:function(i){jQuery(".focusBox .txt li").eq(i).animate({"bottom":0}).siblings().animate({"bottom":-20});}});
                </script>

            </div>
            <div class="right">
                <ul id="tab">
                    <%set DataTable mesList=get_category_child_list("mes",0)%>
                    <%loop ncdr mesList%>
                    <%if(ncdr__loop__id==1)%>
                    <li class="cur1">招标公告</li>
                    <%else%>
                    <li>{ncdr[title]}</li>
                    <%/if%>
                    <%/loop%>
                </ul>
                <div id="cont1">
                    <ul style="display:block;">
                        <a href="<%linkurl("mes_list",53)%>" target="_blank"><div class="more">more</div></a>
                        <ul class="list">
                            <%set DataTable mesList1=get_article_list("mes",53, 6, "status=0")%>
                            <!--使用foreach循环输出-->
                            <%foreach(DataRow dr in mesList1.Rows)%>
                            <li><a href="<%linkurl("newscenter_show",{dr[category_id]},{dr[id]})%>" target="_blank" title="{dr[title]}">{dr[title]}</a></li>
                            <%/foreach%>
                        </ul>
                    </ul>
                    <ul>
                        <a href="<%linkurl("mes_list",54)%>" target="_blank"><div class="more">more</div></a>
                        <ul class="list">
                            <%set DataTable mesList2=get_article_list("mes",54, 6, "status=0")%>
                            <!--使用foreach循环输出-->
                            <%foreach(DataRow dr in mesList2.Rows)%>
                            <li><a href="<%linkurl("newscenter_show",{dr[category_id]},{dr[id]})%>" target="_blank" title="{dr[title]}">{dr[title]}</a></li>
                            <%/foreach%>
                           
                        </ul>
                    </ul>
                    <ul>
                        <a href="<%linkurl("mes_list",55)%>" target="_blank"><div class="more">more</div></a>
                        <ul class="list">
                            <%set DataTable mesList3=get_article_list("mes",55, 6, "status=0")%>
                            <!--使用foreach循环输出-->
                            <%foreach(DataRow dr in mesList3.Rows)%>
                            <li><a href="<%linkurl("newscenter_show",{dr[category_id]},{dr[id]})%>" target="_blank" title="{dr[title]}">{dr[title]}</a></li>
                            <%/foreach%>
                           
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="w1300">
            <ul>
                <div class="gsxw"><div class="title"><a>新闻中心</a></div><a href="<%linkurl("newscenter_list",52)%>"><div class="more">more</div></a></div>
                <%set DataTable nlist4=get_article_list("newscenter", 6, "status=0")%>
                <!--使用foreach循环输出-->
                <%foreach(DataRow dr in nlist4.Rows)%>
                <li><a href="<%linkurl("newscenter_show",{dr[category_id]},{dr[id]})%>" target="_blank" title="{dr[title]}">{dr[title]}</a></li>
                <%/foreach%>
               
            </ul>
            <ul class="zxjd">
                <div class="gsxw"><div class="title"><a>企业文化</a></div><a href="<%linkurl("culture_list",53)%>"><div class="more">more</div></a></div>
                <%set DataTable cultureList=get_article_list("culture", 6, "status=0")%>
                <!--使用foreach循环输出-->
                <%foreach(DataRow dr in cultureList.Rows)%>
                <li><a href="<%linkurl("culture_show",{dr[category_id]},{dr[id]})%>" target="_blank" title="{dr[title]}">{dr[title]}</a></li>
                <%/foreach%>
               
            </ul>
            <ul>
                <div class="gsxw"><div class="title"><a>成功案例</a></div><a href="<%linkurl("achieve_list",59)%>"><div class="more">more</div></a></div>
                <%set DataTable achieveList=get_article_list("achieve",59, 6, "status=0")%>
                <!--使用foreach循环输出-->
                <%foreach(DataRow dr in achieveList.Rows)%>
                <li><a href="<%linkurl("achieve_show",{dr[category_id]},{dr[id]})%>" target="_blank" title="{dr[title]}">{dr[title]}</a></li>
                <%/foreach%>
               
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <script>
            $(function () {

                var $tab = $('#tab li');
                var $cont1 = $('#cont1>ul');

                $tab.click(function () {
                    var $this111 = $(this);
                    var $t111 = $this111.index();
                    $tab.removeClass();
                    $this111.addClass('cur1');
                    $cont1.css('display', 'none');
                    $cont1.eq($t111).css('display', 'block');
                })
            })

    </script>
<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
</body>
</html>